@{
    ViewBag.Title = "Tutorial";
}
@model Open_Source_Data.TutorialTable
    <div class="jumbotron" style="margin-top:30px;background:white;opacity:1;color:white;height:3650px">
        <h1 style="margin-top: -40px;color: #000;text-align: center;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 100px;">@Html.DisplayFor(model => model.TopicName)</h1>
        <p style="color: black; text-align: left;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;" class="lead">
            <b>Difficulty:</b> @Html.DisplayFor(model => model.Difficulty)<br />
            <b>Time:</b> @Html.DisplayFor(model => model.Time)<br />
            <b>Programming Language:</b> @Html.DisplayFor(model => model.Programming_Language)<br />
            <br />
            <b>Summary:</b> @Html.DisplayFor(model => model.Summary)
            <br />
            <br />
            <b>Outcomes</b>: @Html.DisplayFor(model => model.Outcomes)
            <br />
            <br />
            @Html.Raw(Model.BodyHtml)
            <br /><br />
            @foreach (String item in ViewBag.CodeSources)
            {
                @Html.ActionLink("Source code for " + item, "DownloadCode", new { fileName = item }, new { @style = "text-align:right" })
                <text><br /></text>
            }
            
 </p>
    </div>
    <nav>
        
        <ul class="pager">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
